h1 {
  color: navy;
  margin-left: 20px;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  font-family: "Merriweather";
  font-size: 24px;
  font-style: light;
}

.todo{
  font-family: "Tangerine";
  font-size: 34px;
}
